SECRET_KEY=

DEBUG=

DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=

CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

TELEGRAM_TOKEN=

DOCKER_HUB_USERNAME=
DOCKER_HUB_ACCESS_TOKEN=

SSH_USER=
SSH_PRIVATE_KEY=